# 코딩 테스트 gitignore 파일

# 1. 모든 파일 무시
*

# 2. 디렉토리 탐색 허용
!*/

# 3. 마크다운, 이미지, 소스 코드는 예외 처리
!*.md
!*.png
!*.py
!*.java
!*.cpp
!*.js
!*.kts

# 4. study용 스크립트 폴더 허용
!/script/study/*.sh

# 5. vscode settings.json 허용
!/.vscode/settings.json